#start-game-again-btn {
  display: none;
}

#result-game-div {
  display: none;
}

.result-coins {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

#result-coin-img {
  display: none;
  justify-content: center;
  align-items: center;
}

